.group{
    display: table-column;
    
}
.group2{
    min-width: 425px; ;  
}

.group3{
    text-align: end;
    place-self: end;
}

.carta {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: nowrap;
    color: white;
    padding: 20px;
    transform: translate(0%, 0%);
    background: linear-gradient(#006992, #2E1760);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    opacity: 0.9;
    
    
}
.carta:hover{
    color: black;
    background: linear-gradient(#992600,#601D99 );
    transition: 0.4s;
}

.compra {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 5px;
    letter-spacing: 4px;
    background: transparent;
    border: none;
    flex: 1;
    cursor: pointer;

}

.compra:hover {
    background: #03e9f4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.cestino {
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    top:0.5em;

}

.cestino:hover {
    background: #03e9f4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;

}

span {
    display: flex;
    justify-content: flex-end;
}



.quantitaN {
    width: 2.5em;
    background: transparent;
    color:#03e9f4;
    
}