.sup {
  display: flex;
}

.cart {
  flex: auto;
  margin: 2%;
  max-width: 75em;
}

.sideBar {
  margin-top: 2%;
  flex: auto;
  color: white;
  font-size: x-large;
  animation: backgroundMove 10s linear infinite;
  position: relative;
  max-width: 27%;
  max-height: 100%;
  border-radius: 2em;
  height: 20vw;
  display: flex;
  place-items: center;
  place-content: center;
  flex-flow: column-reverse;
}

@keyframes backgroundMove {
  0% {
    background-color: #171738;
  }

  25% {
    background-color: #2E1760;
  }

  50% {
    background-color: #006992;
  }

  75% {
    background-color: #2E1760;
  }

  100% {
    background-color: #171738;
  }
}

.prod {
  padding: 5%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

}

.button.before {
  position: relative;
  border: 1px solid #0360df;
  border-radius: 50px;
  padding: 8px 16px;
  min-width: 8em;
  background-color: #0360df;
  background-image:
    radial-gradient(75% 50% at 50% 0%, #f4feff, transparent),
    radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
  box-shadow:
    inset 0 -2px 4px 1px rgba(17, 110, 231, .6),
    inset 0 -4px 4px 1px rgba(141, 227, 252, 1),
    inset 0 0 2px 1px rgba(255, 255, 255, .2),
    0 1px 4px 1px rgba(17, 110, 231, .2),
    0 1px 4px 1px rgba(0, 0, 0, .1);
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px #116ee7;
  transition-property: border-color, transform, background-color;
  transition-duration: .2s;
  top: 2vw;
  transform: scale(0.85);
}

.button.before::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  width: 80%;
  height: 40%;
  background-image: linear-gradient(to bottom, #f4feff, transparent);
  opacity: .75;
}

.button.before:hover {
  transform: scale(0.95);
  color: #03e9f4;
  background: linear-gradient(#992600, #601D99);
  box-shadow:
    inset 0 -2px 4px 1px rgba(153, 38, 0, .6),
    inset 0 -4px 4px 1px rgba(96, 29, 153, 1),
    inset 0 0 2px 1px rgba(255, 255, 255, .2),
    0 1px 4px 1px rgba(153, 38, 0, .2),
    0 1px 4px 1px rgba(0, 0, 0, .1);
}

.button.before:active {
  border-color: #0048d5;
  transform: scale(.80);
  background-color: #0048d5;
}
.conto{
  margin-bottom: 1em;
}