<div class="div-search">
    <form >
        <input type="text" name="search" placeholder="Search.." class="search">
      </form>
    </div>
<div class="cart">
    <app-product-in-cart [product]="prodotto" *ngFor="let prodotto of productInCart "></app-product-in-cart>
</div>


<div class="compra" *ngIf="this.isLog() && this.isNotNull()">

   <p class="totale">Subtotal: {{ calcolo !== null && calcolo !== undefined ? (calcolo.toString() | currency:'EUR') : '' }}</p>


    <button (click)="buyAllCart()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Buy All!!
    </button>
</div>
