<div class="sup">
    <div class="cart">
        <app-product-in-cart (SoldiInsufficienti)="soldiIns($event)" (calcolo)="ricalcolo($event)" class="prod" [product]="prodotto"
            *ngFor="let prodotto of productInCart  "></app-product-in-cart>
    </div>


    <div class="modificaP" *ngIf="soldiInsufficienti">
        <div class="secondo">
            <p style="color: red;">I soldi sul tuo conto non sono sufficienti</p>
            <button (click)="capito()"> OK!</button>
        </div>
    </div>

    <div class="sideBar">
        <div class="compra" *ngIf="this.isLog()">
            <p class="conto">Sul conto hai: {{user?.money |currency:'EUR'}}</p>
            <p class="totale">Totale:{{ calcolo !== null && calcolo !== undefined ? (calcolo!.toString() |
                currency:'EUR') : calcolo }}</p>

            <div class="button-container">
                <button (click)="buyAllCart()" class="button before" id="before" type="button">Compra tutti i
                    prodotti!!</button>
            </div>
        </div>
    </div>
</div>