div{
  display: flex;
  justify-content: center;
}
fieldset{
  background: linear-gradient(#006992, #2E1760);
  text-align: center;
  margin-top: 10%;
  inline-size: fit-content;
  border-radius: 2em;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}
.my-button{
  position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    cursor: pointer;
    border:none;
    background: transparent;
}
.my-button:hover{
  background: #03e9f4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
.disabled-button {
  opacity: 0.6;
  cursor: not-allowed;
}





