<div class="carta">
    <p class="nome">Nome: {{product.product.nameProduct}}</p>
    <p class="price">Prezzo: {{product.product.price}}€</p>
    
    <p class="quantita">Quantità disponibile: {{product.product.quantity}}
         <input (change)="quantitaP()" [formControl]="quantity" class="quantitaN"  type="number" min=1  max="{{product.product.quantity}}"  ></p>
        
        <button (click)="compra(quantity)">Compra!</button>
        
        <button (click)="delete()" ><mat-icon>delete</mat-icon></button>
</div>
