<div class="login-box">
    <h2>Registrazione</h2>
    <form [formGroup]="sellerSignUp" (ngSubmit)="signup()">
      <div class="user-box">
        <input type="text" formControlName="firstName">
        <label>Nome</label>
      </div>
      <div class="user-box">
        <input type="text" formControlName="surname">
        <label>Cognome</label>
      </div>
      <div class="user-box">
        <input type="password" formControlName="password">
        <label>Password</label>
      </div>
      <div class="user-box">
        <input type="email" formControlName="email">
        <label>Email</label>
      </div>
  
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sign up!
      </button>
    </form>
  </div>