<nav class="position">
    <div class="titolo">
        <a class="LunSol" href=""><span><strong>LunSol</strong></span></a>
    </div>
    <div class="data">
        <span>{{oggi|date:'fullDate'}}</span>
    </div>
    <div class="routerLink">
        <ul>
            <li ><a class="button-container" title="home" routerLink=""><button class="button link"><mat-icon>home</mat-icon></button></a></li>
            <li *ngIf="! this.isLog()"><a class="button-container" title="registrazione" routerLink="signup"><button class="button link"><mat-icon>person_add</mat-icon></button></a></li>
            <li *ngIf="! this.isLog()"><a class="button-container" title="login" routerLink="login"><button class="button link"><mat-icon>person</mat-icon></button></a></li>
            <li *ngIf=" this.isLog()"><a class="button-container" title="carrello" routerLink="cart"><button class="button link"><mat-icon>shopping_cart</mat-icon></button></a></li>
            <li *ngIf="this.isAdmin()"><a class="button-container" title="addProduct" routerLink="add-product"><button class="button link"><mat-icon>note_add</mat-icon></button></a></li>
            <li *ngIf="this.isLog()"><a class="button-container" title="profile" routerLink="profile"><button class="button link"><mat-icon>person</mat-icon></button></a></li>
            <li *ngIf="this.isLog()"><a class="button-container" title="logout" routerLink="" ><button (click)="logout()" class="button link"><mat-icon>power_settings_new</mat-icon></button></a></li>
        </ul>
    </div>
</nav>


