div{
    color:red;
}
.prod{
  margin: 0.25%;
}
.carteProdotto{
    display: flex;
    flex-wrap: wrap;
}
.search {
    position: relative;
    left: 45%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    transition: 0.4s;
    caret-color: transparent;
  }
  
  .search:focus {
    position: relative;
    left:40%;
    outline: none;
    border-color: #03e9f4;
    width: 300px;
  
  
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
    pointer-events: none;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 10000; 
    pointer-events: auto; 
  }
 