form{
    display: flex;
    justify-content: space-around;
}
.carta {
    border-radius: 2em;
    color: aqua;
    font-size: small;
    background: linear-gradient(#006992, #2E1760);
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    min-width: 80em;
    

}
.carta:hover{
    
    background: linear-gradient(#992600,#601D99 );
    transition: 0.4s;
}

.change {
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 0.5em;
    left: -0.5em;
}
.change:hover {
    background: #03e9f4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.quantitaN {
    min-width: 2.5em;
    background: transparent;
    width: fit-content;
    max-width: 3em;
    max-inline-size: fit-content;

}

.quantita {
    min-width: 5em;
    max-width: 7em;
    width: fit-content;

}

.cestino {
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    top:0.4em;

}

.cestino:hover {
    background: #03e9f4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;

}
.bottoni{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
}
button{
    color:white
}
.spanB{
    display: inline-table;
    flex-shrink: 0;
}
div{
    overflow: hidden; 
}