<div class="carta">
    <form [formGroup]="productForm">
        <div>
            <span>
                <mat-form-field
                    [ngClass]="{ 'invalid-field': productForm.get('nameProduct')?.invalid && productForm.get('nameProduct')?.touched }">
                    <mat-label>Nome prodotto
                    </mat-label>
                    <input type="text" matInput formControlName="nameProduct" value="{{product.nameProduct}}">
                    <mat-error
                        *ngIf="productForm.get('nameProduct')?.invalid && productForm.get('nameProduct')?.touched">
                        Inserisci un nome valido
                    </mat-error>
                </mat-form-field>
            </span>
        </div>

        <div>
            <span>
                <mat-form-field class="quantita"
                    [ngClass]="{'invalid-field':productForm.get('price')?.invalid && productForm.get('price')?.touched}">
                    <mat-label>Price
                    </mat-label>
                    <input class="quantitaN" type="number" matInput formControlName="price" min="0.01" step="0.01">
                    <mat-error *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
                        il valore inserito non può essere negativo
                    </mat-error>
                </mat-form-field>
            </span>
        </div>

        <div>
            <span>
                <mat-form-field class="quantita"
                    [ngClass]="{'invalid-field':productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched}">
                    <mat-label>Quantity
                    </mat-label>
                    <input class="quantitaN" type="number" matInput formControlName="quantity" min="1" step="1">
                    <mat-error *ngIf="productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched">
                        il valore inserito non può essere inferiore ad 1
                    </mat-error>
                </mat-form-field>
            </span>
        </div>

        <div>
            <span>
                <mat-form-field>
                    <mat-label>Seleziona un tipo</mat-label>
                    <mat-select class="multi" formControlName="type">
                        <mat-option class="option" value="ALIMENTARE">Alimentare</mat-option>
                        <mat-option class="option" value="SPORT">Sport</mat-option>
                        <mat-option class="option" value="ABBIGLIAMENTO">Abbigliamento</mat-option>
                        <mat-option class="option" value="UTENSILI">Utensili</mat-option>
                        <mat-option class="option" value="MONDO CASA">Mondo Casa</mat-option>
                        <mat-option class="option" value="ALTRO">Altro</mat-option>
                    </mat-select>
                </mat-form-field>
            </span>
        </div>
        <div class="bottoni">
            <span>Aggiorna:  </span>
            <button (click)="AggiornamentoProdotto()" class="change"><mat-icon>check_circle_outline</mat-icon></button>
            <span class="cestinoP">Cestino: </span>
            <button class="cestino" (click)="delete()"><mat-icon>delete</mat-icon></button>
        </div>
    </form>
</div>