<div class="login-box"> 
  <p>dalla&#64;ge.rm</p>
  <p>fili&#64;ge.rm</p>
  
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="user-box">
        <input type="email" formControlName="email">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password"  formControlName="password">
        <label>Password</label>

        <p class="error" *ngIf="dataNotCorrect">Email o Password sbagliata, riprova</p>
        
      </div >
      <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
      <h4> Se non sei ancora registrato 
        <a  routerLink="/signup">Clicca qui!</a>
    </h4>
    </form>
  </div>
