html {
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#171738, #2E1760);

}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 5px;
  letter-spacing: 4px
}

.login-box form a:hover {
  background: #03e9f4;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}


h4 {
  text-align: center;
  margin-top: 3em;
  color: white;
}

button {
  background: transparent;
  border: none;
}

